<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_Kho.Properties.Settings.QL_KHOConnectionString"
            connectionString="Data Source=DESKTOP-S86R4G6\SQLEXPRESS;Initial Catalog=QL_KHO;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>